
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySettingsHealthLabel" data-translate="healthMonitorApp.settingsHealth.home.createOrEditLabel">Create or edit a Settings Health</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.settingsHealth.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.settingsHealth.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.settingsHealth.weeklyGoal" for="field_weeklyGoal">Weekly Goal</label>
            <input type="number" class="form-control" name="weeklyGoal" id="field_weeklyGoal"
                    ng-model="vm.settingsHealth.weeklyGoal"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.settingsHealth.weightUnits" for="field_weightUnits">Weight Units</label>
            <input type="text" class="form-control" name="weightUnits" id="field_weightUnits"
                    ng-model="vm.settingsHealth.weightUnits"
                    />
        </div>

        <div class="form-group">
            <label data-translate="healthMonitorApp.settingsHealth.userHealth" for="field_userHealth">User Health</label>
            <select class="form-control" id="field_userHealth" name="userHealth" ng-model="vm.settingsHealth.userHealth" ng-options="userHealth as userHealth.id for userHealth in vm.userhealths | orderBy:'id' track by userHealth.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
