<div>
    <h2 data-translate="healthMonitorApp.settingsHealth.home.title">Settings Healths</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="settings-health.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="healthMonitorApp.settingsHealth.home.createLabel">
                        Create new Settings Health
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weeklyGoal"><span data-translate="healthMonitorApp.settingsHealth.weeklyGoal">Weekly Goal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weightUnits"><span data-translate="healthMonitorApp.settingsHealth.weightUnits">Weight Units</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userHealth.id"><span data-translate="healthMonitorApp.settingsHealth.userHealth">User Health</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="settingsHealth in vm.settingsHealths track by settingsHealth.id">
                    <td><a ui-sref="settings-health-detail({id:settingsHealth.id})">{{settingsHealth.id}}</a></td>
                    <td>{{settingsHealth.weeklyGoal}}</td>
                    <td>{{settingsHealth.weightUnits}}</td>
                    <td>
                        <a ui-sref="user-health-detail({id:settingsHealth.userHealth.id})">{{settingsHealth.userHealth.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="settings-health-detail({id:settingsHealth.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="settings-health.edit({id:settingsHealth.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="settings-health.delete({id:settingsHealth.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
