
<div>
    <h2><span data-translate="healthMonitorApp.settingsHealth.detail.title">Settings Health</span> {{vm.settingsHealth.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="healthMonitorApp.settingsHealth.weeklyGoal">Weekly Goal</span></dt>
        <dd>
            <span>{{vm.settingsHealth.weeklyGoal}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.settingsHealth.weightUnits">Weight Units</span></dt>
        <dd>
            <span>{{vm.settingsHealth.weightUnits}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.settingsHealth.userHealth">User Health</span></dt>
        <dd>
            <a ui-sref="user-health-detail({id:vm.settingsHealth.userHealth.id})">{{vm.settingsHealth.userHealth.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="settings-health-detail.edit({id:vm.settingsHealth.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
