
<div>
    <h2><span data-translate="healthMonitorApp.bloodPressure.detail.title">Blood Pressure</span> {{vm.bloodPressure.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="healthMonitorApp.bloodPressure.date">Date</span></dt>
        <dd>
            <span>{{vm.bloodPressure.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.bloodPressure.systolic">Systolic</span></dt>
        <dd>
            <span>{{vm.bloodPressure.systolic}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.bloodPressure.diastolic">Diastolic</span></dt>
        <dd>
            <span>{{vm.bloodPressure.diastolic}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.bloodPressure.userHealth">User Health</span></dt>
        <dd>
            <a ui-sref="user-health-detail({id:vm.bloodPressure.userHealth.id})">{{vm.bloodPressure.userHealth.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="blood-pressure-detail.edit({id:vm.bloodPressure.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
