
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBloodPressureLabel" data-translate="healthMonitorApp.bloodPressure.home.createOrEditLabel">Create or edit a Blood Pressure</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bloodPressure.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bloodPressure.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.bloodPressure.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bloodPressure.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.bloodPressure.systolic" for="field_systolic">Systolic</label>
            <input type="number" class="form-control" name="systolic" id="field_systolic"
                    ng-model="vm.bloodPressure.systolic"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.bloodPressure.diastolic" for="field_diastolic">Diastolic</label>
            <input type="number" class="form-control" name="diastolic" id="field_diastolic"
                    ng-model="vm.bloodPressure.diastolic"
                    />
        </div>

        <div class="form-group">
            <label data-translate="healthMonitorApp.bloodPressure.userHealth" for="field_userHealth">User Health</label>
            <select class="form-control" id="field_userHealth" name="userHealth" ng-model="vm.bloodPressure.userHealth" ng-options="userHealth as userHealth.name for userHealth in vm.userhealths track by userHealth.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
