
<div>
    <h2><span data-translate="healthMonitorApp.userHealth.detail.title">User Health</span> {{vm.userHealth.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="healthMonitorApp.userHealth.name">Name</span></dt>
        <dd>
            <span>{{vm.userHealth.name}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.userHealth.email">Email</span></dt>
        <dd>
            <span>{{vm.userHealth.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-health-detail.edit({id:vm.userHealth.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
