
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPointsLabel" data-translate="healthMonitorApp.points.home.createOrEditLabel">Create or edit a Points</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.points.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.points.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.points.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.points.date" is-open="vm.datePickerOpenStatus.date"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.points.exercise" for="field_exercise">Exercise</label>
            <input type="number" class="form-control" name="exercise" id="field_exercise"
                    ng-model="vm.points.exercise"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.points.meals" for="field_meals">Meals</label>
            <input type="number" class="form-control" name="meals" id="field_meals"
                    ng-model="vm.points.meals"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.points.alcohol" for="field_alcohol">Alcohol</label>
            <input type="number" class="form-control" name="alcohol" id="field_alcohol"
                    ng-model="vm.points.alcohol"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="healthMonitorApp.points.notes" for="field_notes">Notes</label>
            <input type="number" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.points.notes"
                    />
        </div>

        <div class="form-group">
            <label data-translate="healthMonitorApp.points.userHealth" for="field_userHealth">User Health</label>
            <select class="form-control" id="field_userHealth" name="userHealth" ng-model="vm.points.userHealth" ng-options="userHealth as userHealth.login for userHealth in vm.userhealths | orderBy:'id' track by userHealth.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
