<div>
    <h2 data-translate="healthMonitorApp.points.home.title">Points</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="points.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="healthMonitorApp.points.home.createLabel">
                        Create new Points
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="healthMonitorApp.points.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exercise"><span data-translate="healthMonitorApp.points.exercise">Exercise</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meals"><span data-translate="healthMonitorApp.points.meals">Meals</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alcohol"><span data-translate="healthMonitorApp.points.alcohol">Alcohol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="healthMonitorApp.points.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userHealth.login"><span data-translate="healthMonitorApp.points.userHealth">User Health</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="points in vm.points track by points.id">
                    <td><a ui-sref="points-detail({id:points.id})">{{points.id}}</a></td>
                        <td>{{points.date | date:'mediumDate'}}</td>
                    <td>{{points.exercise}}</td>
                    <td>{{points.meals}}</td>
                    <td>{{points.alcohol}}</td>
                    <td>{{points.notes}}</td>
                    <td>
                        <a ui-sref="user-health-detail({id:points.userHealth.id})">{{points.userHealth.login}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="points-detail({id:points.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="points.edit({id:points.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="points.delete({id:points.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
