
<div>
    <h2><span data-translate="healthMonitorApp.points.detail.title">Points</span> {{vm.points.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="healthMonitorApp.points.date">Date</span></dt>
        <dd>
            <span>{{vm.points.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.points.exercise">Exercise</span></dt>
        <dd>
            <span>{{vm.points.exercise}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.points.meals">Meals</span></dt>
        <dd>
            <span>{{vm.points.meals}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.points.alcohol">Alcohol</span></dt>
        <dd>
            <span>{{vm.points.alcohol}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.points.notes">Notes</span></dt>
        <dd>
            <span>{{vm.points.notes}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.points.userHealth">User Health</span></dt>
        <dd>
            <a ui-sref="user-health-detail({id:vm.points.userHealth.id})">{{vm.points.userHealth.login}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="points-detail.edit({id:vm.points.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
