<div>
    <h2 data-translate="healthMonitorApp.weight.home.title">Weights</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="weight.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="healthMonitorApp.weight.home.createLabel">
                        Create new Weight
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="healthMonitorApp.weight.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weight"><span data-translate="healthMonitorApp.weight.weight">Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userHealth.name"><span data-translate="healthMonitorApp.weight.userHealth">User Health</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="weight in vm.weights track by weight.id">
                    <td><a ui-sref="weight-detail({id:weight.id})">{{weight.id}}</a></td>
                        <td>{{weight.date | date:'mediumDate'}}</td>
                    <td>{{weight.weight}}</td>
                    <td>
                        <a ui-sref="user-health-detail({id:weight.userHealth.id})">{{weight.userHealth.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="weight-detail({id:weight.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="weight.edit({id:weight.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="weight.delete({id:weight.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
