
<div>
    <h2><span data-translate="healthMonitorApp.weight.detail.title">Weight</span> {{vm.weight.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="healthMonitorApp.weight.date">Date</span></dt>
        <dd>
            <span>{{vm.weight.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.weight.weight">Weight</span></dt>
        <dd>
            <span>{{vm.weight.weight}}</span>
        </dd>
        <dt><span data-translate="healthMonitorApp.weight.userHealth">User Health</span></dt>
        <dd>
            <a ui-sref="user-health-detail({id:vm.weight.userHealth.id})">{{vm.weight.userHealth.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="weight-detail.edit({id:vm.weight.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
